

/* LAPTOP L (1440px)*/

@media (max-width:1441px){

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


/*COLORS*/

:root{

    --violet-color:hsl(257, 40%, 49%);
    --magenta-color:hsl(300, 69%, 71%);
}

*{
    margin: 0;
    padding: 0;
}

body, html{
    width: 100%;
    height: 100%;
}

body{
    background-image: url(13-Challenge/huddle-landing-page-with-single-introductory-section-master/images/bg-desktop.svg);
    background-color: var(--violet-color);
    background-blend-mode: multiply; 
    
}

body{
    display: flex;
    justify-content: start;
    align-items: center;
}

.web__page{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .page__top{

        .page__tittle{
            font-size: 2.3rem;
            color: white;
            font-family: "Poppins";
        }
    }

    .page__content{
        display: flex;
        flex-direction: row;

        .page__right{
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 1rem;
            padding: 2rem;
            
            .right__tittle{
                color: white;
                font-family: 'Poppins';
                font-weight: 600;
                font-size: 2.5rem;
                width: 80%;
            }
    
            .right__text{
                color: white;
                font-family: 'Poppins';
                font-weight: 200;
                width: 80%;
            }
    
            .right__btn{
                color: var(--violet-color);
                font-family: 'Poppins';
                font-weight: 600;
                background-color: white;
                border-radius: 5rem;
                padding: 1rem 4rem;

                box-shadow: 0 0px 10px 2px rgb(67, 67, 67);

                

            }
        }

       
    }

    .page__footer{
        display: flex;
        flex-direction: row;
        justify-content: end;
        gap: 1rem;
        

        .page__icon{
           
           

            .icon{
                width: 25px;

                border: 2px solid white;
                border-radius: 10rem;
                padding: 8px;
                fill: white;
                
                

            }

           
            
        }
        
    }

}

}


/* LAPTOP  (1024px)*/

@media (max-width:1025px){

    .web__page {
        width: 95%;
        margin: auto;
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .page__content {
            .page__left {
                display: flex;
                flex: 50%;

                .page__img {
                    width: 100%;
                    height: 85%;
                }
            }

            .page__right {
                display: flex;
                flex-direction: column;
                align-items: start;
                gap: 1rem;
                padding: 2rem;
                flex: 40%;

                .right__tittle {
                    color: white;
                    font-family: 'Poppins';
                    font-weight: 600;
                    font-size: 2.5rem;
                    width: 100%;
                }

                .right__text {
                    color: white;
                    font-family: 'Poppins';
                    font-weight: 200;
                    width: 100%;
                }
                
            }
        
        }
    }

}



/* TABLET (768px)*/

@media (max-width:769px){

    body{
        padding-bottom: 100px;
    }

    .web__page {
        width: 95%;
        margin: auto;
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .page__content {
            height: 80vh;
            .page__left {
                display: flex;
                flex: 50%;

                .page__img {
                    width: 100%;
                    height: 85%;
                }
            }

            .page__right {
                display: flex;
                flex-direction: column;
                align-items: start;
                gap: 1rem;
                padding: 2rem;
                flex: 40%;

                .right__tittle {
                    color: white;
                    font-family: 'Poppins';
                    font-weight: 600;
                    font-size: 1.7rem;
                    width: 107%;
                }

                .right__text {
                    color: white;
                    font-family: 'Poppins';
                    font-weight: 200;
                    width: 100%;
                }

                .right__btn {
                    color: var(--violet-color);
                    font-family: 'Poppins';
                    font-weight: 600;
                    background-color: white;
                    border-radius: 5rem;
                    padding: 1rem 3rem;
                    box-shadow: 0 0px 10px 2px rgb(67, 67, 67);
                }
                
            }
        
        }
    }

}


/* MOBILE S (320px)*/

@media (max-width:321px){

    body{
        padding-bottom: 350px;
    }

    
    .web__page {

        width: 90%;
        margin: auto;
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .page__content {
            display: flex;
            flex-direction: column;

            .page__left {
                .page__img {
                    width: 100%;
                }

            }

            .page__right {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 1rem;
                padding: 2rem;
                width: 80%;

                .right__tittle {
                    color: white;
                    font-family: 'Poppins';
                    font-weight: 600;
                    font-size: 1.2rem;
                    width: 100%;
                    text-align: center;
                }

                .right__text {
                    color: white;
                    font-family: 'Poppins';
                    font-weight: 200;
                    width: 100%;
                    text-align: center;
                }
            }

            
        }

        .page__footer {
            margin-top: 13rem;
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 1rem;
        }
    }
}