@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');



:root {

    --pink-color: hsl(322, 100%, 66%);
    --white-cyan: hsl(193, 100%, 96%);
    --dark-cyan: hsl(192, 100%, 9%);
    --grey-blue: hsl(208, 11%, 55%);
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 18px;
}

.box__img {
    width: 500px;
    
}

.header__img {
    width: 600px;
    min-width: 500px;
}


.web__page {
   

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10rem;

    .page__header {
        display: flex;
        flex-direction: column;
        flex: 20%;
        gap: 3rem;

        width: 100%;

        background-image: url(huddle-landing-page-with-alternating-feature-blocks-master/images/bg-hero-desktop.svg);
        background-color: var(--white-cyan);
        background-blend-mode: multiply;
        background-size: cover;

        padding-top: 3rem;
        padding-bottom: 3rem;

        .header__header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            width: 90%;
            margin: auto;

            .header__button {
                font-family: 'Open Sans';
                font-weight: 700;


                background-color: white;
                border-radius: 5rem;
                padding: 1rem 4rem;
                box-shadow: 0px 1px 7px 1px #777777;


                color: var(--dark-cyan);
                text-decoration: none;


                transition: 300ms;

            }

            .header__button:hover {
                background-color: var(--pink-color);

            }
        }

        .header__content {
            display: flex;
            flex-direction: row;

            width: 90%;
            margin: auto;

            .header__text-box {
                display: flex;
                flex-direction: column;
                gap: 1.4rem;
                margin-top: 5rem;

                .text-box__tittle {
                    width: 80%;

                    font-size: 2.6rem;
                    color: var(--dark-cyan);
                    font-family: 'Poppins';
                }

                .text-box__text {
                    width: 80%;

                    font-family: 'Open Sans';
                }

                .text-box__button {
                    font-family: 'Open Sans';
                    font-weight: 700;
                    width: 40%;

                    text-align: center;


                    background-color: var(--pink-color);
                    border-radius: 5rem;
                    padding: 1rem 1rem;
                    box-shadow: 0px 1px 7px 1px #777777;


                    color: white;
                    text-decoration: none;

                }


            }

        }


    }

    .page__content {
        display: flex;
        flex: 40%;
        flex-direction: column;
        align-items: center;

        .content__boxes {
            display: flex;
            flex-direction: column;
            gap: 7rem;

            width: 85%;
            margin: auto;



            .content__box {
                display: flex;
                flex-direction: row;
                padding: 2rem;

               
                

                border: 1px solid var(--grey-blue);
                border-radius: 1rem;
                box-shadow: 0px 0px 2px 4px #ccc;

               

                .box__text {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    gap: 1rem;
                   

                    .box__tittle {
                        font-size: 2rem;
                        font-family: "Open Sans";
                    }

                    .box__subtittle {
                        font-size: 1.5rem;
                        width: 100%;
                    }
                }

             



               
            }

            .box__flowing {
                display: flex;
                flex-direction: row-reverse;
                padding: 2rem;


            }
        }

        .content__last-box {
           
            width: 50%;
            margin-top: 5rem;
            padding: 3rem;
           

            display: flex;
            flex-direction: column;
            gap: 2rem;
            

            border: 1px solid var(--grey-blue);
            border-radius: 1rem;
           
            background-color: white;

            text-align: center;
            z-index: 1;

            .last-box__tittle{
                font-size: 2.5rem;
            }


            .last-box__button{

              

                width: 40%;
                margin: auto;

                font-family: 'Open Sans';
                font-weight: 700;


                background-color: var(--pink-color);
                border-radius: 5rem;
                padding: 1rem ;
                box-shadow: 0px 1px 7px 1px #777777;


                color: white;
                text-decoration: none;
                


                
            }

          
        }




    }

    .page__footer {
        width: 100%;
        padding-bottom: 100px;
        display: flex;
        flex-direction: column;
        flex: 20%;
        background-color: var(--dark-cyan);
        margin-top: -15rem;
        z-index: 0;
        
       

        .footer__content{
            width: 80%;
            margin: auto;

            display: flex;
            flex-direction: row;
            gap: 5rem;
            
            color: white;
            margin-top: 10rem;

            .footer__section-1{
                display: flex;
                flex-direction: column;
                flex: 33.33%;
                gap: 2rem;

               

                .footer__contact{
                    width: 100%;

                    display: flex;
                    flex-direction: row;
                    gap: 1rem;

                    .contact__icon{
                        width: 20px;
                        height: 20px;
                    }


                  
                }
            }
    
            .footer__list{
                display: flex;
                flex-direction: column;
                
                flex: 33.33%;

                .list__grid{
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-template-rows: 1fr 1fr 1fr;
                    row-gap: 2rem;

                    a{
                        text-decoration: none;
                    }

                    .list__text{
                        
                        color: white;
                        
                    }

                }
               
                
            }
    
            .footer__social-media-copy{
                display: flex;
                flex-direction: column;
                flex: 33.33%;
                gap: 10rem;

               

                .social-media-copy__social-media{
                    display: flex;
                    flex-direction: row;
                    gap: 2rem;

                    .social-media__icon{
                        filter: invert(100%) brightness(100%) contrast(100%);
    
                    }

                }
               

                
            }
        }



        
    }
}