@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/*Colors*/

:root {
    --background-color: #0F0F0F;
    --yellow-color: #FFCC00;
    --white-color: #FFFFFF;

    /*Gradient*/

    --dark-gold-color: #DBB769;
    --light-gold-color: #EDDEA7;
}

* {
    padding: 0;
    margin: 0;
}

body,
html {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color);
}

.web__page {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    gap: 1rem;



    .page__header {
        display: flex;
        flex-direction: row;
        gap: 6rem;

        width: 100%;
        margin: auto;
        height: 80px;

        padding-top: 1.5rem;
        position: fixed;
        background-color: var(--background-color);
        z-index: 1000; /* Asegura que el header esté por encima de otros elementos */

        .header__content{
            display: flex;
        flex-direction: row;
        gap: 6rem;

        width: 85%;
        margin: auto;
        height: 80px;

        }


        .header__logo {

            img {
                width: 260px;
            }
        }

        .header__navbar-container {
            display: flex;
            align-items: start;
            justify-content: start;

            .header-navbar {
                display: flex;
                flex-direction: row;
                gap: 2rem;


                .navbar__option {
                    font-size: 1.2rem;
                    color: var(--white-color);
                    text-decoration: none;
                    text-transform: uppercase;
                    font-family: "Poppins";

                    display: block;
                }

                .navbar__option:hover {
                    color: var(--dark-gold-color);

                }

                .navbar__dropdown {
                    position: relative;

                    .dropdown__toggle {
                        font-size: 1.2rem;
                        color: var(--white-color);
                        text-decoration: none;
                        text-transform: uppercase;
                        font-family: "Poppins";
                        cursor: pointer;

                    }

                    .dropdown__toggle:hover {
                        color: var(--dark-gold-color);
                    }

                    .dropdown__menu {
                        display: none;
                        position: absolute;
                        background-color: var(--background-color);
                        width: 300px;
                        padding-top: 1.5rem;

                        z-index: 1;

                        .dropdown__option {
                            color: white;
                            text-decoration: none;
                            display: block;
                            padding: 10px 0px;
                        }

                        .dropdown__option:hover {
                            color: var(--dark-gold-color);
                        }


                    }


                    &:hover .dropdown__menu {
                        display: block;
                    }
                }



            }


        }

        .header__buttons {
            display: flex;
            flex-direction: row;
            align-items: start;
            justify-content: start;
            gap: 2rem;

            .buttons__contact {
                display: flex;
                justify-content: center;
                align-items: center;


                font-size: 1.1rem;
                font-family: poppins;
                background-color: var(--light-gold-color);
                padding: 8px 13px;

                border-radius: 2rem;
                cursor: pointer;

                transition: 300ms;

                p {
                    transition: 300ms;
                }


            }

            .buttons__contact:hover {
                transform: scale(1.2);

                p {
                    transform: scale(0.8);
                }
            }

            .buttons__logo {
                img {
                    filter: brightness(100%) invert(100%);
                    width: 30px;

                }
            }
        }

    }



    .page__content {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        margin-top: 100px;





        .content__section-1 {
            display: flex;
            flex-direction: row;
            gap: 6rem;

            width: 75%;
            margin: auto;

            .section-1__image {
                img {
                    width: 400px;
                }
            }

            .section-1__right {
                display: flex;
                flex-direction: column;
                gap: 1rem;

                .section-1__top-box {
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                    margin-top: 2rem;

                    .top-box__tittle {
                        color: var(--yellow-color);
                        font-size: 2.2rem;
                        font-family: poppins;
                        text-transform: uppercase;
                    }

                    .top-box__list {
                        display: flex;
                        flex-direction: column;
                        gap: 1rem;
                        width: 90%;
                        margin: auto;

                        .top-box__list-element {
                            color: var(--white-color);
                            font-size: 1rem;
                            font-family: poppins;

                            span {
                                color: var(--yellow-color);
                                font-family: poppins;
                            }
                        }
                    }

                    .top-box__text {
                        color: var(--white-color);
                        font-size: 1.1rem;
                        font-family: poppins;
                        font-weight: 700;

                    }

                    .top-box__btn {



                        color: black;
                        text-decoration: none;
                        padding: 0.8rem;
                        background-image: linear-gradient(to right, var(--dark-gold-color), var(--light-gold-color));
                        width: 30%;
                        font-family: poppins;
                        border-radius: 3rem;
                        text-align: center;
                        transition: 500ms;

                    }


                    .top-box__btn:hover {
                        transform: translateY(-5px);
                        background-image: linear-gradient(to right, var(--light-gold-color), var(--light-gold-color));

                    }
                }

                .section-1__bottom-box {
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;

                    .bottom-box__tittle {
                        color: var(--white-color);
                        font-size: 1.3rem;
                        font-family: poppins;
                        font-weight: 700;
                    }

                    .bottom-box__btn {
                        color: black;
                        text-decoration: none;
                        padding: 0.8rem;
                        background-image: linear-gradient(to right, var(--dark-gold-color), var(--light-gold-color));
                        width: 30%;
                        font-family: poppins;
                        border-radius: 3rem;
                        text-align: center;
                        transition: 500ms;

                    }

                    .bottom-box__btn:hover {
                        transform: translateY(-5px);
                        background-image: linear-gradient(to right, var(--light-gold-color), var(--light-gold-color));

                    }
                }
            }

        }

        .content__section-2 {
            background-image: linear-gradient(to right, #0F0F0F, #373737);
            height: 600px;
            display: flex;
            justify-content: center;
            align-content: center;

            .section-2__container {
                width: 85%;
                margin: auto;

                display: flex;
                flex-direction: row;
                gap: 3rem;
            }


            .section-2__image {

                img {
                    width: 450px;
                }
            }

            .section-2__right {
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 5rem;

                .section-2__content {
                    display: flex;
                    flex-direction: column;

                    gap: 1rem;

                    .section-2__tittle {
                        color: var(--dark-gold-color);
                        font-size: 3rem;
                        font-family: poppins;

                    }

                    .section-2__subtittle {
                        width: 90%;

                        color: var(--white-color);
                        font-size: 1.5rem;
                        font-family: poppins;
                        font-weight: 700;

                        span {
                            color: var(--yellow-color);
                        }
                    }

                    .section-2__text {
                        color: var(--white-color);
                        font-size: 1rem;
                        font-family: poppins;

                        span {
                            color: var(--yellow-color);
                        }

                    }
                }

                .section-2__buttons {
                    display: flex;
                    flex-direction: row;
                    gap: 2rem;

                    .section-2__btn-1 {

                        display: flex;
                        align-items: center;
                        justify-content: center;

                        color: var(--light-gold-color);
                        background-color: transparent;
                        border: 1px solid var(--dark-gold-color);
                        padding: 0.8rem 2.3rem;
                        border-radius: 2rem;
                        text-decoration: none;

                        transition: 300ms;

                    }

                    .section-2__btn-2 {

                        display: flex;
                        align-items: center;
                        justify-content: center;


                        color: var(--background-color);
                        background-image: linear-gradient(to right, var(--dark-gold-color), var(--light-gold-color));
                        padding: 0.8rem 2.3rem;
                        border-radius: 2rem;
                        text-decoration: none;

                        transition: 300ms;

                    }

                    .section-2__btn-1:hover {
                        transform: translateY(-5px);
                    }

                    .section-2__btn-2:hover {
                        transform: translateY(-5px);
                    }
                }
            }
        }

        .content__section-3 {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 5rem;


            .section-3__header {
                display: flex;
                flex-direction: column;
                text-align: center;

                .section-3__tittle {
                    background: linear-gradient(to right, var(--dark-gold-color), var(--light-gold-color));
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                    color: transparent;
                    font-size: 2.9rem;
                    font-family: poppins;
                    font-weight: 600;
                }

                .section-3__text {
                    color: var(--white-color);
                    font-size: 1.4rem;

                    width: 80%;
                    margin: auto;

                }
            }

            .section-3__content {
                display: flex;
                flex-direction: row;
                gap: 6rem;
                justify-content: space-between;



                .section-3__boxes {
                    width: 350px;
                    height: 450px;

                    background-image: url(first-images/male_empire_e-book-img.jpg );
                    background-repeat: no-repeat;

                    background-size: 100%;
                    background-position: center;
                    transition: background-size 0.3s ease;

                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    gap: 21rem;
                    text-decoration: none;

                    .sect-3-boxes__tittle {
                        color: black;
                        font-size: 2rem;
                        font-family: "poppins";

                        margin-top: 1rem;

                    }

                    .sect-3-boxes__text {
                        color: black;




                        font-size: 1rem;
                        font-family: "poppins";

                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                    }




                }

                .section-3__boxes:hover {
                    background-size: 110%;

                }


            }

            .section-3__button {
                text-decoration: none;
                padding: 1rem 3rem;
                color: var(--light-gold-color);
                border: 3px solid var(--light-gold-color);
                border-radius: 2rem;

                transition: 300ms;
            }

            .section-3__button:hover {
                transform: translateY(-10px);
            }
        }

        .content__section-4 {
            background-image: linear-gradient(to right, var(--dark-gold-color), var(--light-gold-color));
            height: 400px;

            .section-4__container {
                display: flex;
                flex-direction: row;

                width: 80%;
                margin: auto;
            }


            .section-4__img {
                display: flex;
                width: 400px;

            }

            .section-4__content {
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 3rem;

                .section-4__header {
                    display: flex;
                    flex-direction: column;
                    gap: 0.5rem;

                    .section-4__tittle {
                        font-size: 2.6rem;
                        font-family: poppins;
                    }

                    .section-4__subtittle {
                        font-size: 1rem;
                        font-family: poppins;
                    }
                }

                .section-4__inputs {
                    display: flex;
                    flex-direction: row;
                    gap: 3rem;

                    .section-4__text-input {
                        background-color: transparent;
                        padding: 1rem;
                        padding-right: 4rem;
                        color: #0F0F0F;
                        border-radius: 2rem;
                    }

                    .section-4__btn {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 1rem 3rem;
                        color: white;
                        background-color: var(--background-color);
                        border-radius: 2rem;
                        text-decoration: none;
                    }
                }
            }
        }

        .content__section-5 {
            display: flex;
            flex-direction: column;
            gap: 2rem;

            .section-5__header {
                display: flex;
                flex-direction: column;
                text-align: center;


                .section-5__tittle {
                    background: linear-gradient(to right, var(--dark-gold-color), var(--light-gold-color));
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                    color: transparent;
                    font-size: 2.9rem;
                    font-family: poppins;
                    font-weight: 600;
                }

                .section-5__text {
                    color: var(--white-color);
                    font-size: 1.4rem;
                    width: 80%;
                    margin: auto;

                }
            }

            .section-5__nav-bar {
                display: flex;
                flex-direction: row;
                justify-content: center;
                gap: 2rem;

                .section-5__option {
                    text-decoration: none;
                    color: var(--white-color);
                    font-size: 1.3rem;

                }

                .section-5__option:hover {
                    text-decoration: underline;
                    text-underline-offset: 7px;
                    text-decoration-color: #DBB769;

                }
            }

            .section-5__content {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(3, 1fr);
                gap: 2rem;


                width: 85%;
                margin: auto;

                .section-5__box-1 {
                    background-image: url(blog-images/ghost-image.jpeg);
                    background-repeat: no-repeat;
                    background-position: center;
                    height: 350px;
                    grid-column: 1/3;
                    text-decoration: none;

                    background-size: cover;
                    width: 100%;

                    .section-5__box-tittle {
                        color: white;
                        text-decoration: none;
                        font-size: 2rem;
                        padding: 2rem;
                        box-sizing: border-box;
                    }
                }

                .section-5__box-2 {
                    background-image: url(blog-images/break-relationship-image.png);
                    background-repeat: no-repeat;
                    background-position: center;
                    height: 350px;


                    text-decoration: none;

                    background-size: cover;
                    width: 100%;

                    .section-5__box-tittle {
                        color: white;
                        text-decoration: none;
                        font-size: 2rem;
                        padding: 2rem;
                        box-sizing: border-box;
                    }
                }

                .section-5__box-3 {
                    background-image: url(blog-images/men-king-iamge.png);
                    background-repeat: no-repeat;
                    background-position: center;
                    height: 350px;


                    grid-column: 1/2;
                    grid-row: 2/3;

                    text-decoration: none;

                    background-size: cover;
                    width: 100%;

                    .section-5__box-tittle {
                        color: white;
                        text-decoration: none;
                        font-size: 2rem;
                        padding: 2rem;
                        box-sizing: border-box;
                    }
                }

                .section-5__box-4 {
                    background-image: url(blog-images/aston_martin-image.png);
                    background-repeat: no-repeat;
                    background-position: center;
                    height: 350px;

                    grid-column: 2/3;
                    grid-row: 2/3;

                    text-decoration: none;

                    .section-5__box-tittle {
                        color: white;
                        text-decoration: none;
                        font-size: 2rem;
                        padding: 2rem;
                        box-sizing: border-box;
                    }
                }

                .section-5__box-5 {
                    background-image: url(blog-images/jacked-dude-img.jpeg);
                    background-repeat: no-repeat;
                    background-position: center;
                    height: 350px;

                    grid-column: 3/4;
                    grid-row: 2/3;

                    text-decoration: none;

                    background-size: cover;
                    width: 100%;

                    .section-5__box-tittle {
                        color: white;
                        text-decoration: none;
                        font-size: 2rem;
                        padding: 2rem;
                        box-sizing: border-box;
                    }
                }

                .section-5__box-6 {
                    background-image: url(blog-images/relationship-image.png);
                    background-repeat: no-repeat;

                    background-position: center;
                    height: 350px;

                    grid-column: 1/2;
                    grid-row: 3/4;

                    text-decoration: none;

                    background-size: cover;
                    width: 100%;

                    .section-5__box-tittle {
                        color: white;
                        text-decoration: none;
                        font-size: 2rem;
                        padding: 2rem;
                        box-sizing: border-box;
                    }
                }

                .section-5__box-7 {
                    background-image: url(blog-images/dan-bilzerian-image.webp);


                    background-repeat: no-repeat;
                    background-position: center;

                    height: 350px;

                    grid-column: 2/4;
                    grid-row: 3/4;

                    text-decoration: none;

                    background-size: cover;
                    width: 100%;

                    .section-5__box-tittle {
                        color: white;
                        text-decoration: none;
                        font-size: 2rem;
                        padding: 2rem;
                        box-sizing: border-box;



                    }
                }



            }

            .section-5__button {


                width: 7%;
                margin: auto;

                display: flex;
                align-items: center;
                justify-content: center;


                color: var(--light-gold-color);
                background-color: transparent;
                padding: 0.8rem 1rem;
                border-radius: 2rem;
                text-decoration: none;
                border: 3px solid var(--light-gold-color);

                transition: 300ms;
            }

            .section-5__button:hover {
                transform: translateY(-5px);
            }
        }

        .content__section-6 {
            background-image: linear-gradient(to right, var(--dark-gold-color), var(--light-gold-color));
            height: 400px;

            .section-6__container {
                display: flex;
                flex-direction: row;
                width: 80%;
                margin: auto;

                .section-6__img {
                    width: 400px;
                }

                .section-6__content {
                    display: flex;
                    flex-direction: column;

                    justify-content: center;
                    gap: 3rem;

                    .section-6__header {
                        display: flex;
                        flex-direction: column;
                        gap: 0.5rem;

                        .section-6__tittle {
                            font-size: 2.6rem;
                            font-family: poppins;
                        }

                        .section-6__subtittle {
                            font-size: 1rem;
                            font-family: poppins;
                        }
                    }

                    .section-6__inputs {
                        display: flex;
                        flex-direction: row;
                        gap: 3rem;

                        .section-6__text-input {
                            background-color: transparent;
                            padding: 1rem;
                            padding-right: 4rem;
                            color: #0F0F0F;
                            border-radius: 2rem;
                        }

                        .section-6__btn {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            padding: 1rem 3rem;
                            color: white;
                            background-color: var(--background-color);
                            border-radius: 2rem;
                            text-decoration: none;
                        }
                    }


                }
            }


        }

        .content__section-7 {
            display: flex;
            flex-direction: row;
            height: 280px;

            width: 85%;
            margin: auto;

            .section-7__left {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                width: 52%;

                .section-7__icon {
                    width: 260px;
                }

                .section-7__text {
                    color: white;
                    width: 75%;
                    line-height: 1.8rem;

                    span {
                        color: var(--yellow-color);
                    }
                }

                .section-7__contact {
                    display: flex;
                    flex-direction: row;

                    img {
                        width: 50px;
                        filter: brightness(100%) invert(100%);
                    }

                    .section-7__gmail {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: var(--white-color);
                        font-family: poppins;
                    }
                }
            }

            .section-7__right {
                display: flex;
                flex-direction: row;
                gap: 3rem;

                .section-7__links {
                    display: flex;
                    flex-direction: column;
                    gap: 2rem;

                    .section-7__links-tittle {
                        color: white;
                        font-size: 2rem;
                        font-family: poppins;
                    }

                    .section-7__links-container {
                        display: flex;
                        flex-direction: column;
                        gap: 1rem;

                        .section-7__link {
                            color: white;
                            text-decoration: none;
                        }
                    }
                }

                .section-7__categories {
                    display: flex;
                    flex-direction: column;
                    gap: 2rem;


                    .section-7__categories-tittle {
                        color: white;
                        font-size: 2rem;
                        font-family: poppins;
                    }

                    .section-7__categories-container {
                        display: flex;
                        flex-direction: column;
                        gap: 1rem;

                        .section-7__categorie {
                            color: white;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }

    .page__footer {
        display: flex;
        flex-direction: column;
        background-color: #000000;
        padding-bottom: 50px;
        text-align: center;
        gap: 1.5rem;


        .web__creator {
            color: white;
            font-size: 1rem;
            margin-top: 1rem;
        }

        .footer__social-media {
            display: flex;
            flex-direction: row;
            text-align: center;
            justify-content: center;
            gap: 1.5rem;

            .footer__icons {
                filter: brightness(100%) invert(100%);
            }
        }
    }

}